<?xml version="1.0"?>
<robot name="servebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find servebot_description)/urdf/body.urdf.xacro" />
  <!-- <kobuki/> -->

  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:include filename="$(find servebot_description)/urdf/_d435.urdf.xacro" />
  

  <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0.203 0.17" rpy="0 0 1.57"/>
  </xacro:sensor_d435>



</robot>
